__pycache__
.activate.arm64.csh
.activate.arm64.sh
.activate.csh
.activate.sh
.devcontainer/.zsh_history
.launch-app.sh
.venv
.venv/**
.vscode/**
*.pyc
bin/**
gitignore/**
include/**
lib/**
lib64
lib64/**
pip
pip3
py_launch
py_launch/**
python
python3
pyvenv.cfg
venv-init-script
venv-init-script/**
