PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/opt/python38/bin:
AWS_REGION=eu-west-1
MARKET_PLACE=eu-west-1
SERVICE_NAME=anpa-certs
MWSURL=https://monitor-api-public-dub.amazon.com
LOG_FILE=/var/log/certemitter/certemitter.log